<template>
  <div>
    <v-form ref="form">
      <v-container>
        <v-row>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="user.first_name"
              :rules="user_rules.first_name_rules"
              counter="150"
              label="Nombre(s)"
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="user.last_name"
              :rules="user_rules.last_name_rules"
              counter
              maxlength="150"
              label="Apellido(s)"
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="user.email"
              :rules="user_rules.email_rules"
              counter
              maxlength="150"
              label="Correo electronico"
            ></v-text-field>
          </v-col>

          <v-col cols="12" sm="6">
            <v-select
              v-model="user.country_id"
              :items="countries"
              :rules="user_rules.country_rules"
              menu-props="auto"
              label="Pais"
              hide-details
              prepend-icon="map"
              single-line
            ></v-select>
          </v-col>
        </v-row>
      </v-container>
      <v-btn color="success" class="mr-4" @click="validate">
        Guardar
      </v-btn>

      <v-btn color="error" class="mr-4" @click="reset">
        Cancelar
      </v-btn>
    </v-form>
  </div>
</template>

<script>
import Vue from "vue";
import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
  data() {
    return {
      user: {
        first_name: "",
        last_name: "",
        email: "",
        country_id: ""
      },
      user_rules: {
        first_name_rules: [
          v => !!v || "El nombre es requerido",
          v =>
            (v && v.length <= 150) ||
            "El nombre no puede exceder los 150 caracteres"
        ],
        last_name_rules: [
          v => !!v || "El apellido es requerido",
          v =>
            (v && v.length <= 150) ||
            "El apellido no puede exceder los 150 caracteres"
        ],
        email_rules: [
          v => !!v || "El correo es requerido",
          v =>
            (v && v.length <= 150) ||
            "El correo no puede exceder los 150 caracteres",
          v => /.+@.+\..+/.test(v) || "Ingrese un correo valido"
        ],
        country_rules: [v => !!v || "El pais es requerido"]
      },
      isEditing: false
    };
  },
  computed: {
    ...mapGetters(["countries", "userEdited", "users"])
  },
  mounted() {
    this.getAllCountries();
  },
  methods: {
    ...mapActions(["insertUser", "updateUser", "getAllCountries"]),
    ...mapMutations(["cleanEditUser"]),
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
        new Promise(() => {
          if (this.isEditing && this.user.id) {
            this.updateUser(this.user).then(() => {
              this.reset();
            });
          } else {
            this.insertUser(this.user).then(() => {
              this.reset();
            });
          }
        });
      }
    },
    reset() {
      this.$refs.form.reset();
      this.cleanEditUser();
      this.isEditing = false;
    }
  },
  watch: {
    userEdited(newVal) {
      if (newVal.id) {
        const userInfo = Vue.util.extend({}, newVal);
        this.user = userInfo;
        this.isEditing = true;
      } else {
        this.isEditing = false;
      }
    }
  }
};
</script>
