<template>
  <div class="mt-4">
    <v-card>
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="users" :search="search">
        <template v-slot:item.action="{ item }">
          <v-icon color="green" @click="edit(item)">edit</v-icon>
          <v-icon color="red" @click="remove(item)">delete</v-icon>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      search: "",
      headers: [
        { text: "Nombre(s)", value: "first_name" },
        { text: "Apellido(s)", value: "last_name" },
        { text: "Correo electronico", value: "email" },
        { text: "Pais", value: "country.name" },
        { text: "Acciones", value: "action" }
      ]
    };
  },
  mounted() {
    this.getAllUsers();
  },
  methods: {
    ...mapActions(["getAllUsers", "editUser", "deleteUser"]),
    edit(item) {
      this.editUser(item);
    },
    remove(item) {
      this.deleteUser(item);
    }
  },
  computed: {
    ...mapGetters(["users"])
  }
};
</script>
