<template>
  <v-app>
    <transition name="fade-in-up">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-custom gutter-b">
            <div class="card-header">
              <div class="card-title">
                <h3 class="card-label">Usuarios</h3>
              </div>
            </div>
            <div class="card-body">
              <FormUser></FormUser>
              <ListUser></ListUser>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import ListUser from "@/components/ListUser";
import FormUser from "@/components/FormUser";
export default {
  name: "User",
  components: { ListUser, FormUser },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: "Usuario" }]);
  },
  methods: {
    makeToast(status = null) {
      this.$bvToast.toast(status.message, {
         title: (status.state === 'success') ? "¡Exito!" : "Oh no, ha ocurrido un error.",
         variant: status.state,
         solid: true
       })
    }
  },
  computed: {
    ...mapGetters(["message"])
  },
  watch: {
    message(newVal, oldVal) {
      if (JSON.stringify(newVal) !== JSON.stringify(oldVal)) {
        this.makeToast(newVal);
      }
    }
  }
};
</script>
